<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/landing.css">
        <title>Landing</title>
    </head>

    <body>
        <h2>Welcome to Node, now with Ejs!</h2>
        <p>Node is fast, and scalable. We can also use ejs modules to make it easier to use!</p>
        
        <a href="/todo">Click for "Todo" app</a>

    </body>

</html>