<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500i,700" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Node</title>
    </head>

    <body class=" bg-dark">
        <div class="container-fluid text-center text-white p-5">
            <h1>404</h1>
            <h1>OOPS, Something went sideways.</h1>
            <p>This is a tad bit embarrassing..head back to the main page <a href="/todo" class="btn btn-sm btn-info">Check out app</a></p>
        </div>
    </body>

</html>