<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <script src="/main.js"></script>
    <title>TodoList</title>
</head>

<body>
    <div id="todo-table">
        <p><img src="task-icon.png" /></p>
        <h1>My Todo List</h1>
        <div id="errors">
        </div>
        <form>
            <input type="text" name="item" placeholder="Add new item..." required />
            <button type="submit">Add Item</button>
        </form>
        <div id="tasks">
            <ul id="render"></ul>
        </div>
    </div>

</body>

</html>